* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffff;
}

body::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: #343637;
  border-radius: 2px;
}

/*  HEADER */
header {
  height: 9vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(0, 176, 155, 0.28);
  color: #000;
  z-index: 10;
  top: 0;
}

.img-logo {
  height: 20vh;
  width: 100%;
}

.logo__enlace {
  font-size: 22px;
  font-weight: 700;
  color: #000;
  text-align: center;
  text-decoration: none;
  padding: 0.3rem;
  transition: .4s;
}

.logo__enlace:hover {
  color: #98A1A6;
  text-decoration: none;
}

.contenedor_logo_links {
  display: flex;
  align-items: center;
}

.contenedor_botones {
  display: flex;
  list-style-type: none;
}

.contenedor_busqueda_botones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

nav ul li {
  list-style-type: none;
  margin: 0 20px;
  position: relative;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  transition: 0.5s;
}

nav ul li a:hover {
  opacity: 0.5;
  color: #98A1A6;
}

.icono {
  font-size: 1.2rem;
  color: #000;
}

.contador {
  padding-left: 0.5rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.boton {
  width: 50px;
  padding: 6px 12px;
  margin-right: 1rem;
  text-align: center;
  border-radius: 0.375rem;
  font-weight: bold;
  border: none;
  background: transparent;
  color: #000;
  cursor: pointer;
  transition: .4s;
}

.boton:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.userActive {
  color: green;
}

.btnActive {
  box-shadow: 0 1px 6px 0 rgba(33, 243, 6, 0.28);
}

/* Barra de busqueda */
.barra-busqueda {
  text-align: start;
  width: 200px;
  border-radius: 2px;
  padding: .2rem;
  border: none;
  background-color: #ffff;
  color: #000;
  transition: .4s ease-in-out;
}

.barra-busqueda:hover {
  box-shadow: 1px 1px;
}

.boton-buscar {
  background: transparent;
  border: transparent;
  cursor: pointer;
  width: 50px;
  color: #000;
  margin-left: .2rem;
  transition: .4s;
}

.boton-buscar:hover {
  color: #98A1A6;
}

.span-icono {
  font-size: 1rem;
}

.menu {
  display: none;
}

.span-icono-close {
  visibility: hidden;
}

/* Seccion img con texto encima */
.home__contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.img-carousel {
  width: 100%;
  object-fit: cover;
  height: 95vh;
  filter: brightness(68%);
}

.titulo-home {
  color: #fff;
  position: absolute;
  top: 50%;
}

.titulo-home h1 {
  margin: 0.3rem;
  font-size: 40px;
}

.titulo-home p {
  margin: 0.5rem;
  font-size: 22px;
  margin-bottom: 1rem;
}

.boton-reservar {
  border: none;
  margin: 1rem;
  width: 250px;
  height: 18%;
  text-transform: uppercase;
  background-color: #dbe4ee67;
  box-shadow: 0 1px 6px 0 rgba(0, 176, 155, 0.28);
  padding: 8px 15px;
  border-radius: 0.375rem;
  color: #fff;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.boton-reservar:hover {
  background-color: #758da2d0;
}

.contenedor-busqueda {
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-busqueda-div {
  padding: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-busqueda {
  padding: 1rem;
  color: #1e1e1e;
}

.contenedor-flex-busqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.barra-input {
  width: 70%;
}

.btn-registro {
  background: linear-gradient(to right, #00b09b, #009688);
  transition: .4s ease-in-out;
  color: #fff;
}

.btn-registro:hover {
  color: #1e1e1e;
}

/* Seccion reserva */
.contenedor__form1 {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.form-tipoviaje {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-reservar {
  width: 200px;
  padding: 15px 0;
  margin: 20px 10px;
  text-align: center;
  border-radius: 0.375rem;
  border: none;
  background: linear-gradient(to right, #00b09b, #009688);
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  transition: .4s;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.button-reservar:hover {
  color: #1e1e1e;
}

/* // paquetes scroll */
/* #paquetesBackground{
    background-color: #edf2f4;
    
} */
.paquetes_titulo {
  text-align: center;
  font-size: 25px;
  padding-top: 3rem;
}

.paquetes__contenedor_titulo {
  text-align: center;
}

.paquetes__contenedor {
  max-width: 1350px;
  margin: 0 auto;
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.paquetes__flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  scrollbar-color: #1e1e1e;
  scrollbar-width: none;
}

.paquetes__flex::-webkit-scrollbar-track {
  background-color: transparent;
}

.paquetes__flex::-webkit-scrollbar-thumb {
  background-color: #1e1e1e;
}

.paquetes__flex::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.paquete__item {
  max-width: 500px;
  height: 500px;
  border-radius: 8px;
  padding: 1rem;
  flex-shrink: 0;
}

.paquete__img {
  height: 80%;
  width: 500px;
  position: relative;
  object-fit: cover;
  border-radius: 5px;
}

.absolute {
  bottom: 0;
  left: 0;
}

.displayRow {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.botonDestino {
  width: 150px;
  padding: 15px 0;
  text-align: center;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  background: #fff;
  color: #000;
  cursor: pointer;
  transition: .4s ease-in-out;
}

.botonDestino:hover {
  background-color: #33b5a6ce;
  color: #fff;
}

/* Lugares Populares */
#lugares-populares {
  background-color: #f5f3f4;
}

.lugares_titulo {
  color: #000;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 100%;
}

.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor__cards {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
  margin-bottom: 3rem;
}

.cards {
  width: 400px;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .4s;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  background-color: #fff;
  border-radius: 0.375rem;
}

.card__img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.card__titulos {
  padding-top: 1rem;
  font-size: 24px;
}

div .boton1 {
  width: 200px;
  padding: 15px 0;
  margin: 20px 10px;
  text-align: center;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  background: transparent;
  color: #000;
  cursor: pointer;
  transition: .4s ease-in-out;
}

div .boton1:hover {
  background-color: #33b5a6ce;
  color: #fff;
}

/* Carrito */
.grid-principal {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.div-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-detalle h5 {
  margin: 1rem;
}

.grid-hijo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-hijo2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-eliminar {
  border: none;
}

.boton-resta {
  margin-right: 0.5rem;
}

.boton-suma {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.vaciar-carrito {
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.375rem;
  background: red;
  margin: 1rem;
  padding: 1rem;
  color: wheat;
}

.vaciar-carrito:hover {
  color: #000;
}

p {
  margin-bottom: 0;
}

.icono2 {
  width: 20px;
  background: transparent;
  border: none;
  height: 20px;
}

.contenedor-suma {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Seccion Galeria  */
.grid {
  height: 60vh;
  display: grid;
  grid-template-columns: 50vw 40vw;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.grid2 {
  height: 60vh;
  display: grid;
  grid-template-columns: 40vw 50vw;
  grid-template-rows: repeat(1, 1fr);
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
}

.grid_img {
  width: 100%;
  height: 100%;
}

.hr_grid {
  margin-left: 5%;
  margin-right: 5%;
}

/* Seccion Contacto */
/* Contacto */
.seccion-form {
  height: 100vh;
  /* si quiero q complete la vista  */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f3f4;
  padding-bottom: 4rem;
  margin-top: 4rem;
  padding-top: 4rem;
}

.contenedor-form-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 80%;
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

.titulo-contacto {
  font-size: 34px;
  text-align: center;
  padding: 1rem;
}

.contenedor-label-input {
  margin-left: 10%;
  margin-right: 10%;
}

.contenedor-label-input label, .contenedor-label-input input {
  padding: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.contenedor-btn-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton-form {
  text-align: center;
  border: none;
  margin: 1rem;
  width: 250px;
  height: 18%;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  padding: 8px 15px;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: .4s ease-in-out;
  background-color: #f5f3f4;
  color: #000;
}

.boton-form:hover {
  background: linear-gradient(to right, #00b09b8f, #0096878e);
  color: #fff;
}

/* Footer */
footer {
  bottom: 0;
  height: 10%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  background-color: #f8f8f8;
}

footer span {
  padding-right: 1rem;
  font-size: 30px;
  color: #000;
}

.img-redes {
  width: 22px;
  height: 22px;
  margin-right: 1rem;
}

.img-redes-a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  opacity: 1;
  transition: 0.4s ease-in-out;
  margin-left: 1rem;
  margin-right: 1rem;
}

footer a:hover {
  opacity: 0.6;
}

.contenedor-iconos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha-arriba {
  width: 50px;
  padding: 6px 12px;
  margin-right: 1rem;
  border-radius: 0.375rem;
  border: none;
  background: transparent;
  color: #000;
  cursor: pointer;
  transition: .4s ease-in-out;
  align-items: center;
}

.flecha-arriba:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

@media screen and (max-width: 1023px) {
  /*  Tablet */
  .menu {
    display: none;
  }
  header {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .contenedor_logo_links {
    flex-direction: row;
  }
  .logo__enlace {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;
  }
  nav ul {
    padding: 0;
  }
  nav ul li {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 5px;
  }
  .boton {
    padding: 0;
    width: 30px;
    margin: 0;
    margin-right: 5px;
    font-size: 1.2rem;
  }
  .icono {
    font-size: 1.2rem;
  }
  .home__contenedor {
    height: 86vh;
  }
  .contenedor__form1 {
    width: 100%;
  }
  .contenedor__parrafo {
    text-align: center;
  }
  .form1__divs {
    padding: 0;
  }
  .form1__divs label, input {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    text-align: center;
  }
  .form1__divs input {
    padding: 0;
    margin-top: 5px;
    margin-right: 5px;
  }
  .form1__divs_button {
    padding: 5px;
    margin: 0;
    margin-left: 4px;
    width: 100%;
  }
  .reserva__contenedor1 {
    height: 80vh;
    margin-bottom: 1rem;
  }
  .form1__divs {
    margin: 6px;
    width: 100%;
  }
  .form1__divs label, input {
    padding: 0;
  }
  .contenedor__form1 {
    flex-direction: column;
    padding: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    transform: translate(0);
  }
  .form1__divs input {
    width: 70%;
  }
  .form1__divs_button {
    width: 50%;
  }
  .lugares_titulo {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .contenedor__cards {
    padding: 0;
    height: 80%;
    flex-wrap: wrap;
  }
  .paquetes__flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .flex_column1-p, .flex_column1-a {
    text-align: center;
  }
  footer {
    flex-direction: column;
    height: 100%;
  }
  footer span {
    font-size: 2rem;
  }
  .home__contenedor2-login {
    height: 100%;
  }
  .flex_column2 {
    width: 300px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  /* Mobile */
  header {
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .menu {
    display: block;
    border: transparent;
    margin: 0;
    padding: 0;
  }
  .menu:hover {
    background-color: transparent;
    color: #fff;
  }
  nav {
    display: none;
  }
  .ol, ul {
    padding: 0;
  }
  .logo__enlace {
    display: none;
    margin-bottom: 0;
    padding: 0;
    overflow: hidden;
  }
  .home__contenedor {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/australia2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 91vh;
  }
  .carousel-caption {
    right: unset;
    left: unset;
  }
  .titulo-home {
    top: unset;
    width: 100%;
  }
  .titulo-home h1 {
    font-size: 2rem;
  }
  .titulo-home p {
    font-size: 18px;
  }
  .boton-reservar {
    width: 80%;
    margin: 0;
  }
  .barra-input {
    width: 100%;
  }
  .reserva__contenedor1 {
    height: 100%;
    margin-bottom: 1rem;
  }
  .contenedor__form1 {
    grid-template-columns: 1fr;
  }
  h2 {
    padding-top: 1rem;
    font-size: 20px;
  }
  .card__img {
    width: 100%;
  }
  .cards {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .grid_img {
    object-fit: cover;
    background-position: center;
  }
  .home__contenedor2 {
    height: 100%;
  }
  .div__flex {
    flex-direction: column;
  }
  .flex_column1-p, .flex_column1-a {
    margin-bottom: 0;
  }
  .flex_column1 {
    padding: 0;
    margin: 1rem;
  }
  .flex_column1-icon {
    font-size: 2rem;
  }
  .paquete__item {
    width: 100%;
  }
  .paquete__img {
    width: 100%;
  }
  .titulo-contacto {
    font-size: 22px;
  }
  .boton_contacto_flex {
    margin-bottom: 3rem;
  }
  footer {
    bottom: 0;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  footer div p {
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  p {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  footer div a {
    margin: 0;
    font-size: 18px;
    margin-right: 10px;
  }
  footer span {
    font-size: 22px;
    padding: 0;
  }
  .flecha-arriba {
    margin: 0;
    padding: 0;
  }
  .carrito-visible {
    min-width: 60%;
  }
  .boton_cerrar {
    width: 100px;
    padding: 10px;
  }
  .tbody td {
    padding: 0.1rem;
    font-size: 14px;
  }
  th {
    font-size: 16px;
    padding: 0.5rem;
  }
  .icono2 {
    font-size: 16;
  }
}
/*# sourceMappingURL=style.css.map */