/* Carrito */
.grid-principal{
    display: flex;

    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    width: 100%;
    
}
.div-detalle{
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.div-detalle h5{
    margin: 1rem;
}
.grid-hijo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-hijo2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton-eliminar{
    border: none;
}
.boton-resta{
    margin-right: 0.5rem;
}
.boton-suma{
    margin-left: 0.5rem;
    margin-right: 1rem;
}
.vaciar-carrito{
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 6px 12px;
    border: none;
    background: red;
    margin:1rem;
    padding:1rem;
    color: wheat;

}
.vaciar-carrito:hover{
    color: #000;
}
p{
    margin-bottom: 0;
}
.icono2{
    width: 20px;
    // height: 10px;
    background: transparent;
    border: none;
    height: 20px;
}
.contenedor-suma{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* 
@media screen and (max-width:1023px) {

    .grid-principal{
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0;
    }
    .grid-hijo{
        display: flex;
        justify-content: center;
        
    }
    .grid-hijo2{
        flex-direction: column;
        text-align: center;
    }
    .div-detalle{
        text-align: center;
        align-items: center;
        padding: 1rem;
    }
}
@media screen and (max-width:600px) {

    .grid-principal{
        grid-template-columns: 1fr;
        align-items: center;
        padding: 0;
    }
    .grid-hijo{
        display: flex;
        justify-content: center;
        
    }
    .grid-hijo2{
        flex-direction: column;
        text-align: center;
    }
    .div-detalle{
        text-align: center;
        align-items: center;
        padding: 1rem;
    }
} */

