/* Seccion img con texto encima */

.home__contenedor{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.img-carousel{
    width: 100%;
    object-fit: cover;
    height: 95vh;
    filter: brightness(68%)
}
.titulo-home{
    color: #fff;
    position: absolute;
    top: 50%;
}
.titulo-home h1{
    margin: 0.3rem;
    font-size: 40px;
}
.titulo-home p{
    margin: 0.5rem;
    font-size: 22px;
    margin-bottom: 1rem;
}
.boton-reservar{
    border: none;
    background-color:#e8e8e4;
    background-color:#ddddd7a2;
    margin: 1rem;
    width: 250px;
    height: 18%;
    text-transform: uppercase;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    padding: 8px 15px;
    border-radius: 0.375rem;
    color: #fff;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.boton-reservar:hover{
    background-color:#ddddd7c6;
}

// Busqueda

.contenedor-busqueda{
    padding: 1rem;
    height: 100%;
    width: 100%;
    // background-color: #e8e8e4;
    // background-color: #edf2f4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-busqueda-div{
    padding: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);


}
.titulo-busqueda{
    padding: 1rem;
    color: #1e1e1e;
}


.contenedor-flex-busqueda{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.barra-input{
    width: 70%;
}


// seccion login


// CSS JUAN


//CSS LOGIN
.home__contenedor2{
    height: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
    background-color: #f8f8f8;
    box-shadow: 0 0px 6px 0 rgba(32,33,36,0.28);
}
.div__flex{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.flex_column1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.flex_column1-p, .flex_column1-a{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.flex_column1-icon{
    text-align: center;
    font-size: 3rem;
}
.flex_column1-a{
    color: #000;
    transition: .4s;
    text-decoration: none;

    width: 150px;
    padding: 8px 0;
    text-align: center;
    border-radius: 0.375rem;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background: #fff;
    color: #000;
    cursor: pointer;
}
.flex_column1-a:hover{
    color: #fff;
    background-color: #bfbfbb8f;
}
.flex_column-a:hover{
    text-decoration: underline;
    color: #e2ebf3;
}
.contenedor__titulo{
    font-weight: 400;
}
.flex_column2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #e2ebf3;
    height: 450px;
    width: 350px;
    padding: 2rem;
    border-radius: 3px;
    background-color: #f2f2f2;
}

/* Login */
.contenedor-sesion{
    min-height: fit-content ;
    background-image: url(../../images/australia2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    // position: relative;
    // z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-contenedor-sesion{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    grid-template-rows: 1fr;
    // height: 83vh;
    width: 100%;
    position: absolute;
    // z-index: 1;
}

.flex_column2-icon{
    font-size: 4rem;
    text-align: center;
}
.flex_column-login input{
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}
.flex_column-login button{
    margin-top: 1rem;
    width: 150px;
    padding: 15px 0;
    text-align: center;
    border-radius: 0.375rem;
    // border: 1px solid #9CA4A8;
    border: none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    background: transparent;
    color: #000;
    cursor: pointer;
    transition: .4s;
}
.flex_column-login button:hover{
    background-color: #e2ebf3;
    color: #fff;
}

.a-login{
    padding: 0.2rem;
    text-align: center;
    color: #212529;
    text-decoration: none;
}
.a-login:hover{
    color: #000;
    text-decoration: underline;
}