@media screen and (max-width:1023px){ 
    /*  Tablet */ 

    // header 

    .menu{
        display: block;
        border: transparent;
        margin: 0;
        padding: 0;
    }
    .menu:hover{
        background-color: transparent;
        color: #fff;
    }
    nav{
        display: none;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    .nav-container li{
        text-decoration: none;
        color: #000000;
    }
    .nav-container li a{
        color: #000000;
        text-decoration: none;
    }
    header{
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .contenedor_logo_links{
        display:none;
    }
    .logo__enlace{
        margin: 0 ;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-logo{
        width: 100%;
        height: 25vh;
        display: flex;
    }
    ol, ul{
        padding: 0;
    }
    .boton{
        padding: 0;
        width: 30px;
        margin: 2px;
        font-size: 1.2rem;
    }
    .icono{
        font-size: 1.2rem;
    }

    //BUSQUEDA

    .barra-input{
        width: 100%;
    }

    //lugares populares

    .lugares_titulo{
        font-size: 1rem;
        padding: 0.5rem;
        margin: 0;
    }
    .cards{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .contenedor__cards{
        padding: 0;
        height: 80%;
        flex-wrap: wrap;
    }
    .paquetes__flex{
        flex-wrap: wrap;
        justify-content: center;
    }

    //footer
    footer{
        flex-direction: column;
        height: 100%;
    }
    footer span {
        font-size: 2rem;
    }
    
}