@media screen and (max-width:600px) { 
    /* Mobile */

    //HEADER

    header{
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        // position: relative;
    }

    .menu{
        display: block;
        // position: absolute;
        // left: 0;
        // transform: translateX(5px);
        border: transparent;
        margin: 0;
        padding: 0;
    }
    .menu:hover{
        background-color: transparent;
        color: #fff;
    }
    nav{
        display: none;
    }
    .ol, ul{
        padding: 0;
    }
    .logo__enlace{

        display: none;
        margin-bottom: 0;
        padding: 0;
        overflow: hidden;
    }


    //HOME
    .home__contenedor{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../images/australia2.jpg);
        // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(images/paisaje00.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        // background-attachment: fixed;
        height: 91vh;
    }
    .carousel-caption{
        right: unset;
        left: unset;

    }
    .titulo-home{
        // top: none;
        // position: unset;
        top: unset;
        width: 100%;
    }
    .titulo-home h1{
        // color: #fff;
        font-size: 2rem;
        // width: 100%;
    }
    .titulo-home p{
        font-size: 18px;
    }
    .boton-reservar{
        width: 80%;
        margin: 0;
        // margin-left: 5%;
        // margin-right: 5%;
    }
    .barra-input{
        width:100%
    }

    // RESERVA

    .reserva__contenedor1{
        height: 80vh;
        margin-bottom: 1rem;
    }
    .form1__divs{
        margin: 6px;
        width: 100%;
    }
    .form1__divs label, input{
        padding: 0;
    }
    .contenedor__form1{
        flex-direction: column;
        padding: 0;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        transform: translate(0);
    }
    .form1__divs input{
        width: 70%;
    }
    .form1__divs_button{
        width: 50%;
    }

    //LUGARES POPULARES
    h2{
        padding-top: 1rem;
        font-size: 20px;
    }
    .card__img{
        width: 100%;
    }
    .cards{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }


    // GRIDS

    .grid_img{
        object-fit: cover;
        background-position: center ;
    }

    //LOGIN
    .home__contenedor2{
        height: 100%;
    }
    .div__flex{
        flex-direction: column;
    }
    .flex_column1-p, .flex_column1-a{
        margin-bottom: 0;
    }
    .flex_column1{
        padding: 0;
        margin: 1rem;
    }
    .flex_column1-icon{
        font-size: 2rem;
    }

    // CARDS PAQUETES
    .paquete__item{
        width: 100%;
    }
    .paquete__img{
        width: 100%;
    }


    // CONTACTO
    .titulo-contacto{
        font-size: 22px;
    }
    .boton_contacto_flex{
        margin-bottom: 3rem;
    } 
    //FOOTER
    footer{
        bottom: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        height: 100%;
    }
    footer div p{
        font-size: 14px;
        padding: 0;
        text-align: center;;
        margin: 0;
    }
    p{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    footer div a{
        margin: 0;
        font-size: 18px;
        margin-right: 10px;
    }
    footer span{
        font-size: 22px;
        padding: 0;
    }
    .flecha-arriba{
        margin: 0;
        padding: 0;
    }

    //CARRITO
    .carrito-visible{
        min-width: 60%;
    }
    .boton_cerrar{
        width: 100px;
        padding: 10px;
    }
    .tbody td{
        padding: 0.1rem;
        font-size: 14px;
    }
    th{
        font-size: 16px;
        padding: 0.5rem;
    }
    .icono2{
        font-size: 16;
    }
}