@media screen and (max-width:600px) { 
    /* Mobile */


    //HEADER

    header{
        height: 12vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }
    .nav-container li{
        text-decoration: none;
        color: #000000;
    }
    .nav-container li a{
        color: #000000;
        text-decoration: none;
    }
    .menu{
        display: block;
        border: transparent;
        margin: 0;
        padding: 0;
    }
    .menu:hover{
        background-color: transparent;
        color: #fff;
    }
    .offcanvas{
        max-width: 80%;
    }
    nav{
        display: none;
    }
    .contenedor_logo_links{
        display:none;
    }
    .ol, ul{
        padding: 0;
    }
    .logo__enlace{

        // display: none;
        margin-bottom: 0;
        padding: 0;
        overflow: hidden;
    }
    .boton{
        margin: 0;
    }
    .img-logo{
        display: none;
    }

    //HOME
    .home__contenedor{
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../../images/australia2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 91vh;
    }
    .carousel-caption{
        right: unset;
        left: unset;
    }
    .titulo-home{
        top: unset;
        width: 100%;
    }
    .titulo-home h1{
        font-size: 2rem;
    }
    .titulo-home p{
        font-size: 18px;
    }
    .boton-reservar{
        width: 80%;
        margin: 0;
    }
    .barra-input{
        width:100%
    }

    // MODAL RESERVA

    .reserva__contenedor1{
        height: 100%;
        margin-bottom: 1rem;
    }
    .contenedor__form1{
        grid-template-columns: 1fr;
    }

    // Busqueda
    .contenedor-busqueda-div{
        padding: 0;
    }
    .contenedor-busqueda{
        padding: 0.5rem;
    }
    
    //LUGARES POPULARES

    h2{
        padding-top: 1rem;
        font-size: 20px;
    }
    .card__img{
        width: 100%;
    }
    .cards{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    // GRIDS

    .grid_img{
        object-fit: cover;
        background-position: center ;
    }

    // CARDS PAQUETES
    .paquete__item{
        width: 100%;
    }
    .paquete__img{
        width: 100%;
    }

    // CONTACTO

    .contenedor-form-text{
        padding:0;
        width: 90%;
    }
    .titulo-contacto{
        font-size: 22px;
    }
    .boton_contacto_flex{
        margin-bottom: 3rem;
    } 

    //FOOTER

    footer{
        bottom: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    footer div p{
        font-size: 14px;
        padding: 0;
        text-align: center;;
        margin: 0;
    }
    p{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    footer div a{
        margin: 0;
        font-size: 18px;
        margin-right: 10px;
    }
    footer span{
        font-size: 22px;
        padding: 0;
    }
    .flecha-arriba{
        margin: 0;
        padding: 0;
    }

}