*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #ffff;

}
body::-webkit-scrollbar{
    width: 10px;
    height: 8px; 
}
body::-webkit-scrollbar-thumb{
    background-color: #343637;
    border-radius: 2px;
}
