/* Seccion reserva */

.contenedor__form1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.form1__divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:    center ;
    height: 100%;
}


.form1__divs_button {
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 0.375rem;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: .4s;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
.form1__divs_button:hover{
    color: #1e1e1e;
}

.form1__divs_button {
    text-decoration: none;
    color: #000;
}
.form1__divs input {
    color: #000;
    margin-top: 1rem;
    margin-bottom: 1rem;
}